#include <dt-bindings/zmk/matrix_transform.h>

/ {
    model = "Rudeyboard";

    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-mcp23017";
        label = "KSCAN";

        row-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,
                    <&gpio0 3 GPIO_ACTIVE_LOW>,
                    <&gpio0 4 GPIO_ACTIVE_LOW>,
                    <&gpio0 5 GPIO_ACTIVE_LOW>,
                    <&gpio0 6 GPIO_ACTIVE_LOW>,
                    <&gpio0 7 GPIO_ACTIVE_LOW>;

        col-gpios = <&mcp 0 GPIO_ACTIVE_LOW>,
                    <&mcp 1 GPIO_ACTIVE_LOW>,
                    <&mcp 2 GPIO_ACTIVE_LOW>,
                    <&mcp 3 GPIO_ACTIVE_LOW>,
                    <&mcp 4 GPIO_ACTIVE_LOW>,
                    <&mcp 5 GPIO_ACTIVE_LOW>,
                    <&mcp 6 GPIO_ACTIVE_LOW>,
                    <&mcp 7 GPIO_ACTIVE_LOW>,
                    <&mcp 8 GPIO_ACTIVE_LOW>,
                    <&mcp 9 GPIO_ACTIVE_LOW>,
                    <&mcp 10 GPIO_ACTIVE_LOW>,
                    <&mcp 11 GPIO_ACTIVE_LOW>,
                    <&mcp 12 GPIO_ACTIVE_LOW>,
                    <&mcp 13 GPIO_ACTIVE_LOW>,
                    <&mcp 14 GPIO_ACTIVE_LOW>;
    };
};

&i2c0 {
    status = "okay";
    mcp: mcp23017@20 {
        compatible = "microchip,mcp23017";
        status = "okay";
        gpio-controller;
        wakeup-source;
        reg = <0x20>;
        #gpio-cells = <2>;
        ngpios = <16>;
        int-gpios = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        label = "MCP23017";
    };
};